
.btn
  display: block
  border: none
  background: none
  padding: .75rem 1.25rem
  text-transform: uppercase
  cursor: pointer
  letter-spacing: 1px
  outline: none
  transition: all .25s ease
.title
  text-align: center
  padding: 40px 40px 20px
  text-transform: uppercase
  font-weight: 900

.number
  font-family: $rubik

.section
  position: relative
  padding: 120px 100px 40px
  &-title
    position: absolute
    top: 40px
    left: 50%
    transform: translate(-50%, 0)
    text-align: center
    text-transform: uppercase
    font-size: 1.5rem
    letter-spacing: 5px
    &::before
      content: ''
      width: 150px
      height: 1px
      background-color: #000000
      position: absolute
      bottom: -20px
      left: calc(50% - 75px)

.input
  padding: .75rem 1rem
  border: 1px solid #cccccc
    radius: 4px
  width: 100%
  &.textarea
    resize: none

.field
  &-title
    text-transform: capitalize
    font-size: .8rem
    color: #808080
  .input
    outline-color: $l_red

.sub-btn
  border: 1px solid $l_red
  color: $l_red
  justify-self: center
  &:hover
    background-color: $l_red
    color: #ffffff

.form
  display: grid
  grid-gap: 20px