.btn
  display: block
  +none
  padding: .5rem 1.25rem
  +uppercase
  cursor: pointer
  letter-spacing: 1px
  +transition(.25s, ease)
  font-weight: lighter
  &.toggle-btn
    margin: 0 auto 50px
    border: 1px solid $l_red
    background-color: $l_red
    color: #ffffff
    &:hover
      background-color: transparent
      color: $l_red
.title
  text-align: center
  padding: 40px 40px 20px
  +uppercase
  font-weight: 900
.number
  +rubik
.section
  position: relative
  padding: 120px 100px 40px
  &-title
    +position(absolute, 40px, 50%, auto, auto)
    +translate(-50%, 0)
    text-align: center
    +uppercase
    font-size: 1.5rem
    letter-spacing: 5px
    margin: 0
    &::before
      content: ''
      width: 150px
      border-bottom: 1px solid #000
      +position(absolute, auto, 50%, auto, -20px)
      +translate(-50%, 0)
.page
  min-height: 46.4vh
.date-picker
  justify-self: center
  width: 280px
.ant-select-dropdown-menu
  max-height: initial
.ant-select-selection, .ant-calendar-picker-input
  border: none
  border-radius: 0
  border-bottom: 2px solid #d9d9d9 
  box-shadow: none !important
  &:hover, &:focus
    border-color: $d_red !important
.ant-calendar-selected-day
  .ant-calendar-date
    background-color: transparentize($d_red, .85)
    color: $d_red
    border-color: $d_red
.ant-calendar-date:hover
  background-color: transparentize($d_red, .85)
.ant-calendar-picker-input, .ant-calendar-input
  +capitalize
  letter-spacing: 1px
  color: #808080
.icon
  margin-right: 5px
  font-size: .7rem
.sign-in.section
  min-height: 70vh

.table
  &.controlled
    .table-item
      .control-buttons
        +translate(0, 0)
        +position(absolute, auto, auto, 10px, auto)
        .control-btn
          background-color: transparent
          color: #d9d9d9
          &:hover
            color: $d_red
  &-item
    +dg
    grid-gap: 15px
    padding: 10px
    margin: 0
    position: relative
    align-items: center
    &:hover
      background-color: #f9f9f9
    &:first-child
      +capitalize
      color: $d_red
      letter-spacing: 1px
      font-weight: 600
      &:hover
        background-color: #fff
    .column
      font-size: .8rem
      &:last-child
        padding-right: 10px
    &.donor
      grid-template-columns: 25px 1.5fr 1fr 150px 150px 170px 1fr
    &.medicine-item
      grid-template-columns: 25px 1fr 1fr 170px 100px

