=grid($amount, $size, $gap)
  display: grid
  grid-template-columns: repeat($amount, $size)
  grid-gap: $gap

=flex
  display: flex
  flex-wrap: wrap

=none
  background: none
  border: none
  outline: none

=transition($time, $animation)
  transition: all $time $anomation

=uppercase
  text-transform: uppercase

=capitalize
  text-transform: capitalize

=fira
  font-family: 'Fira Sans', sans-serif

=rubik
  font-family: 'Rubik', sans-serif

=mont
  font-family: 'Montserrat', sans-serif

