.achievements
  +flex
  justify-content: center
  .achievement
    +grid(1, auto, 20px)
    justify-items: center
    padding: 20px
    margin: 20px
    cursor: pointer
    .icon-wrap
      +dg
      +square(75px)
      position: relative
      +gcenter
      .achievement-icon
        color: #ffffff
        position: relative
        font-size: 2rem
      &::before
        content: ''
        +stretched(0)
        +rotate(45deg)
        background-color: $d_red
        border-radius: 10px
        +transition(.3s, ease-in-out)
    &-title
      +uppercase
      letter-spacing: 2px
      margin: 0
      margin-top: 10px
    &-value
      +capitalize
      letter-spacing: 1px
      width: 250px
      text-align: center
      color: #828590
    &:hover
      .icon-wrap::before
        +rotate(135deg)
        +stretched(5px)
        background: #252525


