.contact-us-form
  padding: 50px
  position: absolute
  right: 15%
  bottom: 0
  border: none
  border-radius: 0
  background-color: #fff
  box-shadow: $shadow
  z-index: 1
  .form-title
    justify-self: start
    text-transform: uppercase
    letter-spacing: 2px
  .field
    &-title
      letter-spacing: 1px
    .input, .textarea
      border: none
      border-radius: 0
      border-bottom: 2px solid #d9d9d9
      outline: none
      &:focus
        border-color: $d_red
    .textarea
      height: 100px
  .sub-btn
    background-color: $d_red
    border-color: $d_red
    color: #ffffff