.contacts-info
  +grid(1, auto, 20px)
  width: 420px
  &-title
    +uppercase
    letter-spacing: 2px
    position: relative
    margin-top: 40px
    margin-bottom: 20px
    font-weight: 900
    font-size: 1rem
    &::before
      content: ''
      display: block
      border-bottom: 2px solid $d_red
      width: 200px
      +position(absolute, auto, auto, auto, -20px)
  p
    margin: 0
  .address, .emails
    &-title
      display: block
      color: #b9b9b9
      text-transform: capitalize
      font-size: .7rem
    &-value, .email
      +mont 
      display: block
      text-indent: 10px
      font-size: .75rem
      .icon
        color: $d_red
  .department
    padding: 20px
    margin-bottom: 10px
    border: 1px solid #d9d9d9
    position: relative
    &-name
      +capitalize
      font-weight: 700
      font-size: .9rem
      +fira
    &-number
      padding: 5px 10px
      background-color: $d_red
      color: #ffffff
      +position(absolute, auto, auto, auto, 0)
      +translate(0, 50%)
      font-size: .7rem
      &-mobile
        left: 20px
      &-stationary
        right: 20px
      .number-icon
        margin-right: 5px
