.employees
  display: flex
  flex-wrap: wrap
  justify-content: center
  .employee
    text-align: center
    padding: 10px
    flex-basis: 220px
    display: grid
    grid-gap: 10px
    border: 1px solid #dddddd
    margin: 10px