#main-footer
  background-color: #252525
  color: #505050
  text-align: center
  padding: 40px 0 5px 0
  .sub-title
    color: $d_red
    +capitalize
    padding: 20px 0
  .awesome-title 
    +uppercase
    font-size: .8rem
    color: #505050
    font-weight: 300
    margin-bottom: 20px
  .developer-contacts
    +grid(2, 1fr, 50px)
    color: #909090
    font-size: .8rem
    .developer-number
      justify-self: end
    .developer-email
      justify-self: start
  .footer-menu
    +grid(auto-fit, minmax(31px, auto), 80px)
    position: relative
    +uppercase
    font-size: .7rem
    letter-spacing: 2px
    justify-content: center
    padding-top: 30px
    &::after
      content: ''
      +position(absolute, auto, 50%, auto, -30px)
      +translate(-50%, 0)
      border-bottom: 1px solid $d_red
      width: 150px
  .copyright
    font-size: .7rem
    margin-top: 60px
    




