.images-container
  +grid(auto-fit, minmax(400px, 1fr), 40px)
  margin: 0 auto
  width: 80%
  .photo
    position: relative
    .image-overlay
      +stretched(0)
      .image-title
        color: transparent
        text-align: center
        font-size: 1.2rem
        +position(absolute, auto, 0, 0, 0)
        +mont
      &:hover
        +transition(.5s, ease)
        background-color: #00000050
        .image-title
          +transition(.5s, ease)
          color: #fff
          &::after
            content: ''
            display: block
            margin: 10px auto
            width: 100px
            border-bottom: 1px solid $l_red
    img
      width: 100%