.history
  padding: 20px 200px
  display: flex
  flex-wrap: wrap
  flex-direction: column
  justify-content: center
  align-content: center
  height: 100vh
  &-item
    padding: 50px 20px 20px
    box-shadow: $shadow
    text-align: center
    letter-spacing: 1px
    position: relative
    width: 320px
    margin: 10px
    &-title
        position: absolute
        top: 20px
        left: 20px
        font-weight: 900
        color: $l_red
@media screen and (max-width: 1400px) 
  .history
    height: 1120px
    &-item
      font-size: .8rem
  
    
      
    
    
      

