.sign-in
  &-form
    margin: 0 auto
    width: 320px
    box-shadow: $shadow
    border-radius: 4px
    padding: 40px
    &-title
      font-size: 1.75rem
      margin: 0 0 10px
    .field
      display: flex
      flex-direction: column
      .input
        margin: 5px 0 10px
    .sub-btn
      width: 100%
      margin: 10px 0 0
      border-radius: 4px