.form
  +grid(1, auto, 15px)
  box-shadow: $shadow
  margin: 0 auto
  width: 420px
  padding: 50px
  background-color: #fff
  position: relative
  &-title
    justify-self: start
    +uppercase
    letter-spacing: 2px
    font-size: 1.25rem
    font-weight: 900
  
  .sub-btn
    margin-top: 10px
    background-color: $d_red
    border: 1px solid $d_red
    color: #ffffff
    justify-self: center
    &:hover
      background-color: transparent
      color: $d_red