=loadBd
  border: 5px solid transparent
  border-top-color: $d_red
  border-radius: 50%
@keyframes load 
  0%
    +rotate(0)
  100%
    +rotate(360deg)
.modal
  .load-container
    +position(fixed, 0, 0, 0, 0)
    background: #ffffff

.load-container
  +dg
  +gcenter
  +stretched(0)
  background: #ffffff80
  z-index: 5
  .load
    +square(80px)
    +loadBd
    margin-top: -40px
    animation: 1s linear infinite load

.loading
  +dg
  padding: 200px
  justify-content: center
  align-items: center
  &-text
    font-size: 3rem
    font-weight: 300
    letter-spacing: 2px
    color: #505050